<?xml version="1.0"?>
<config>
  <modules>
    <WTC_Configuration>
      <version>0.1.0</version>
    </WTC_Configuration>
  </modules>
  <global>
    <helpers>
      <configuration>
        <class>WTC_Configuration_Helper</class>
      </configuration>
    </helpers>
	<blocks>
	  <configuration>
		<class>WTC_Configuration_Block</class>
	  </configuration>
	</blocks>
	<models>
	  <configuration>
		<class>WTC_Configuration_Model</class>
		<resourceModel>configuration_mysql4</resourceModel>
	  </configuration>
	  <configuration_mysql4>
		<class>WTC_Configuration_Model_Mysql4</class>
		<entities>		  
			  <configuration>
				<table>core_config_data</table>
			  </configuration>
		</entities>
	  </configuration_mysql4>
	</models>
	<resources>
	  <configuration_setup>
		<setup>
		  <module>WTC_Configuration</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </configuration_setup>
	  <configuration_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </configuration_write>
	  <configuration_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </configuration_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <configuration>
	    <use>admin</use>
		<args>
		  <module>WTC_Configuration</module>
		  <frontName>admin_configuration</frontName>
		</args>
	  </configuration>
	</routers>
  </admin>
  <adminhtml>
	<menu>
		<system>
            <children>
                <tools>
                    <children>
                        <configuration translate="title" module="configuration">
                            <title>Configuration</title>
                            <sort_order>1000</sort_order>
							<children>
								<viewall translate="title" module="configuration">
									<title>View All</title>
									<sort_order>1000</sort_order>
									<action>admin_configuration/adminhtml_configuration</action>
								</viewall>
								<export translate="title" module="configuration">
									<title>Export</title>
									<sort_order>1000</sort_order>
									<action>admin_configuration/adminhtml_configuration/exportCsv</action>
								</export>
								<import translate="title" module="configuration">
									<title>Import</title>
									<sort_order>1000</sort_order>
									<action>admin_configuration/adminhtml_configuration/import</action>
								</import>
							</children>
                        </configuration>
                    </children>
                </tools>
            </children>
        </system>
	</menu>
	<acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <tools>
                                <children>
                                    <configuration translate="title" module="configuration">
                                        <title>Configuration</title>
                                        <sort_order>0</sort_order>
                                    </configuration>
                                </children>
                            </tools>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
	<layout>
	  <updates>
		<configuration>
		  <file>configuration.xml</file>
		</configuration>
	  </updates>
	</layout>
  </adminhtml>
</config> 